.dialogs{
    display: flex;
    padding-top: 20px;
  
}
.names_list{
   flex: 0 1 20%;
}
.messages_wrapp{
    flex: 0 1 80%;
    margin-top: 40px;
}

.btn_wrapp{
    display: flex;
    flex-direction: column;
    align-items: center;

    .textarea{
        width: 80%;
        height: 50px;
        padding-left: 10px;
        border-radius: 4px;
        margin-top: 40px;
        font-size: 15px;
        outline: none;
        
        &:focus{
            border: 1px solid #84aeec;
        }
    }
    .btn{
        background: #0d58c8;
        width: 140px;
        height: 35px;
        line-height: 34px;
        margin-top: 20px;
        border: 1px solid transparent;
        border-radius: 3px;
        outline: none;
        color: #fff;
        font-size: 14px;
        text-transform: uppercase;
        cursor: pointer;
        &:hover{
            border: 1px solid #0d58c8;
            transition: all ease .3s;
            background: grey;
        }
    }
}


