//Leftbar

.leftbar {
  flex: 0 1 20%;
  background: #222835;
  padding: 0 15px;

  .nav {
    .item {
      margin-top: 20px;
    }

    .link {
      color: #fff;
      font-size: 18px;
      font-family: "Roboto", sans-serif;
      text-decoration: none;
    }

    .link.active {
      color:#0d58c8;
    }
  }
}
