//Leftbar

.leftbar {
  flex: 0 1 20%;
  background: #222835;

  .nav{
    padding:15px;
    .item {
      margin-top: 20px;
    }
  
    .link {
      color: #fff;
      font-size: 18px;
      font-family: "Roboto", sans-serif;
      text-decoration: none;
  
    }
  
    .link.active{
      color: red;
    }
  }
}


