.friends{
  margin-top: 40px;

    .title_link{
        color: rgb(243, 211, 32);
        text-decoration: none;
    }
    .names_wrapp{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        border: 1px solid;
    
     
    }
}





